imageRegistry: "****.dkr.ecr.ap-south-1.amazonaws.com"

frontend:
  imageRepo: "mern-frontend"
  tag: "12" "${BUILD_NUMBER}"
  replicaCount: 1

backend:
  imageRepo: "mern-backend"
  tag: "${BUILD_NUMBER}"
  replicaCount: 1

mongodb:
  image: "mongo"
  tag: "${BUILD_NUMBER}"
  storage: 1Gi

serviceAccount:
  create: false
  name: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: mern.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

httpRoute:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

image:
  repository: ""
  tag: "${BUILD_NUMBER}"
  pullPolicy: IfNotPresent

