imageRegistry: ""

frontend:
  imageRepo: "mern-frontend"
  tag: "latest"
  replicaCount: 1

backend:
  imageRepo: "mern-backend"
  tag: "latest"
  replicaCount: 1

serviceAccount:
  create: false
  name: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5

httpRoute:
  enabled: false
