# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
**/.terraform.lock.hcl

# Terraform lock file (optional but recommended to keep)
!.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Jenkins
secrets/
