version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    environment:
      - MONGO_CONN_STR=mongodb://mongo:27017/mern
      - PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:5000/api/tasks
    depends_on:
      - backend

volumes:
  mongodata:
