apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: mern
  labels:
    app: mongo
spec:
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
      name: mongo
  clusterIP: None   # headless service for StatefulSet
  selector:
    app: mongo
