apiVersion: apps/v1
kind: Deployment
metadata:
  name: mern-frontend
  namespace: mern
  labels:
    app: mern-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mern-frontend
  template:
    metadata:
      labels:
        app: mern-frontend
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
      - name: mern-frontend
        image: jay2000/mern-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
        env:
        - name: REACT_APP_API_BASE
          value: "http://mern-backend.mern.svc.cluster.local:5000"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
