replicaCount: 1

image:
  repository: jay2000/mern-backend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

mongo:
  uri: "mongodb://mongo-0.mongo.mern.svc.cluster.local:27017/mern"

imagePullSecrets: []
