replicaCount: 1
image:
  repository: mongo
  tag: "6.0"
  pullPolicy: IfNotPresent

storage:
  size: 10Gi
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
