replicaCount: 1

image:
  repository: jay2000/mern-frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 300m
    memory: 256Mi

env:
  apiBase: "http://mern-backend.mern.svc.cluster.local:5000"

imagePullSecrets: []
ingress:
  enabled: false
  host: ""
  tls:
    enabled: false
    secretName: ""
