apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.imageRegistry }}/{{ .Values.frontend.imageRepo }}:{{ .Values.frontend.tag }}"
          env:
            - name: REACT_APP_BACKEND_URL
              value: "{{ .Values.frontend.backendUrl }}"
          ports:
            - containerPort: 80

